<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
</head>
<body>

<h1 th:text="${tittle}"></h1>

<a th:href="@{/list}">Mostrar lista de productos</a>
<a th:href="@{/list-limitData}">Mostrar lista de productos con ReactiveDataDriverContextVariable</a>

<div>
    <form th:action="@{/saveProduct}" method="post" th:object="${product}">
        <input  th:if="${product.id != null}" type="hidden" th:field="*{id}">
        <div>
            <label>Nombre</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Precio</label>
            <input type="number" th:field="*{price}"/>
        </div>
        <div>
            <label>Fecha</label>
            <input type="date" th:field="*{createAt}"/>
        </div>
        <div>
            <input type="submit" value="Guardar Producto"/>
        </div>
    </form>
</div>

</body>
</html>