<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${tittle}"></title>
</head>
<body>

<label th:if="${param.error != null}" th:text="${param.error}"></label>
<label th:if="${param.success != null}" th:text="${param.success}"></label>

<h1 th:text="${tittle}"></h1>

<a th:href="@{/saveProductForm}">Crear nuevo producto</a>
<a th:href="@{/list-limitData}">Mostrar lista de productos con ReactiveDataDriverContextVariable</a>
<a th:href="@{/list-chunked}">Mostrar lista de productos con max-chunk-size=1024</a>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Fecha</th>
        <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="products: ${products}">
        <td th:text="${products.id}"></td>
        <td th:text="${products.name}"></td>
        <td th:text="${products.price}"></td>
        <td th:text="${products.createAt}"></td>
        <td><a th:href="@{/editProductForm/} + ${products.id}">Editar</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>